In [7]:
# FIND MAX NUMBER FROM 3 NUMBER USING FUNCTION
def max(num1,num2,num3):
    if num1>num2 and num1>num3:
        print('Num 1 is max - ',num1)
    elif num2>num1 and num2>num3:
        print('Num 2 is max - ',num2)
    elif num3>num1 and num3>num2:
        print('Num 3 is max - ',num3)
max(12,33,3)

Num 2 is max -  33

In [8]:
#  FIND MIN NUMBER FROM 3 NUMBER USING FUNCTION
def min():
    num1 = int(input('Enter The First Number - '))
    num2 = int(input('Enter The Second Number - '))
    num3 = int(input('Enter The Third Number - '))
    if num1<num2 and num1<num3:
        print('Num1 is Min - ',num1)
    elif num2<num1 and num2<num3:
        print('Num2 is Min - ',num2)
    elif num3<num1 and num3<num2:
        print('NUm3 is Min - ',num3)

In [9]:
min()

Enter The First Number - 344
Enter The Second Number - 97
Enter The Third Number - 67
NUm3 is Min -  67

In [10]:
# sum all number present in list
def list():
    l = [12,3,45,566,55,4,34]
    sum=0
    for i in l:
        sum=sum+i
        print(sum)

In [11]:
list()

12
15
60
626
681
685
719

In [16]:
# find odd number using function
def odd():
    for i in range(1,11):
        if i%2!=0:
            print('Odd - ',i)

In [17]:
odd()

Odd -  1
Odd -  3
Odd -  5
Odd -  7
Odd -  9

In [30]:
# find even number using function
def even():
    for i in range(1,11):
        if i%2==0:
            print("EVEN - ",i)

In [31]:
even()

EVEN -  2
EVEN -  4
EVEN -  6
EVEN -  8
EVEN -  10

In [42]:
# wap to sum the first 10 natural numbe using python
def number():
    sum=0
    for i in range(1,11):
        sum=sum+i
        print(sum)

In [43]:
number()

1
3
6
10
15
21
28
36
45
55

In [44]:
# claculate the percentage of 5 students
def per(stu1,stu2,stu3,stu4,stu5):
    total = stu1+stu2+stu3+stu4+stu5
    per = total/5
    print('Per is - ',per)

In [46]:
per(65,44.34,34,67,88)

Per is -  59.668000000000006