In [1]:
def hello():
    print('welcome')
hello()

welcome

In [6]:
def add():
    a=22
    b=23
    c=a+b
    print(c)
add()

45

In [ ]:
# no argument no return
#no argument with return
#with argument no return
#with argument with return

In [7]:
def add():
    a=int(input("enter the number "))
    b= int(input("enter the number "))
    c=a+b
    print(c)
add()

enter the number 2326
enter the number22
2348

In [9]:
# with argument with re
def add(a,b):
    c=a+b
    print(c)
add(21,2)

23

In [10]:
def add(a,b):
    c=a+b
    return c
add(12,22)

34

In [13]:
#no argument with return
def add():
    a=33
    b=22
    c=a+b
    return c
add()

55

In [1]:
# find maximum number from 3 number using function
def max():
    a=12
    b=23
    c=54
    if a>b and a>c:
        print(a)
    elif b>a and b>c:
        print(b)
    elif c>a and c>a:
        print(c)

In [2]:
max()

54

In [3]:
#find miminum number in from 3 number using function
def min(a,b,c):
    if a<b and a<c:
        print(a)
    elif b<a and b<c:
        print(b)
    elif c<a and c<b:
        print(c)

In [4]:
min(12,23,543)

12

In [5]:
# sum all number in list
def list():
    a=[11,23,45,66]
    sum=0
    for i in a:
        sum=sum+i
        print(sum)

In [6]:
list()

11
34
79
145

In [28]:
# find odd number using function
def odd():
    for i in range(1,11):
        if i%2!=0:
            print('odd',i)

In [30]:
odd()

odd 1
odd 3
odd 5
odd 7
odd 9

In [31]:
def even():
    for i in  range(1,11):
        if i%2==0:
            print('EVEN',i)

In [32]:
even()

EVEN 2
EVEN 4
EVEN 6
EVEN 8
EVEN 10

In [35]:
# calculate the percentage of 5 student
def per():
    total = 33+83+37+86+87
    per = (total/500)*100
    print(per)

In [36]:
per()

65.2

In [37]:
# calculate the percentage of 5 student 
def per(s1,s2,s3,s4,s5):
    total = s1+s2+s3+s4+s5
    per = (total/5)
    print(per)

In [44]:
per(88,98,78,78,63)

81.0

In [66]:
# Wap to sum the first 10 natural numbers using function?
def sum():
    sum=0
    for i in range(1,11):
        sum=sum+i
        print(sum)
        i=i+1
sum()

1
3
6
10
15
21
28
36
45
55